.container{
     flex: 2;
     margin-top: 60px;
}
.title{
      font-size: 28px;
      font-weight: 400px;
}
.subtitle{
     font-size: 16px;
     color: gray;
}
.items{
     display: flex;
     flex-direction: column;
     gap: 35px;
     margin-top: 35px;
     margin-bottom: 60px;

}
.item{
     display: flex;
     align-items: center;
     gap: 20px;
}
.imageConatiner{
     flex: 1;
     aspect-ratio: 1/1;
     position: relative;
}
.image{
     border-radius: 50px;
     border: 3px solid lightgray;
     object-fit: cover;
}
.category{
     padding: 3px 8px;
     border-radius: 10px;
     color: white;
     width: max-content;
}
.category.travel{
     background-color: #ff7857;
}
.food{
     background-color:#7fb881 ;
}
.fashion{
     background-color: #f887;
}
.culture{
     background-color:#ffb14f ;
}
.textConatiner{
     flex: 4;
     display: flex;
     flex-direction: column;
     gap: 5px;
    
}
.postTitle{
     font-size: 18px;
     font-weight: 500;
     color:  var(--softTextColor);
}
.detail{
     font-size: 12px;
}
.date{
     color:  gray;
}